<nav>
  <ul>
    <li>
      <button (click)="sendMeTo('/vendas-na-amazon')">Vendas na Amazon</button>
    </li>
    <li>
      <button (click)="sendMeTo('/eletronicos')">Eletrônicos</button>
    </li>
    <li>
      <button (click)="sendMeTo('/computadores')">Computadores</button>
    </li>
    <li>
      <button (click)="sendMeTo('/atendimento')">Atendimento</button>
    </li>
    <li>
      <button (click)="sendMeTo('/ideias')">Ideias</button>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
