.selectedHobby {
    background: #505EDB;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 20px;
    color: white;
    width: fit-content;
}

#list-hobbies {
    display: flex;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
    padding-inline-start: 0px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    & input {
        border: none;
        border-bottom: 1px solid gray;
        margin: 5px 0;

        &:focus {
            outline: none;
            border-bottom: 1px solid #505EDB;
        }
    }
}