form {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100px;
    justify-content: space-between;
    align-items: center;

    & button {
        background-color: #505EDB;
        border-style: none;
        border-radius: 2px;
        padding: 5px 10px;
        width: fit-content;

        &:hover{
            background-color: #9CA6FF;
            color: #2C0088;
        }

        &:disabled {
            background-color: #C5C7D3;
        }
    }

    .ng-touched  {
        border: 1px solid red;
    }

    
    .ng-dirty {
        border: 1px solid black;
    }
}

